APP_NAME=NutriVision
APP_VERSION=1.0.0
DEBUG=true
HOST=0.0.0.0
PORT=8000

USDA_API_KEY=YOUR_REAL_USDA_KEY
USDA_BASE_URL=https://api.nal.usda.gov/fdc/v1

SPOONACULAR_API_KEY=YOUR_REAL_SPOONACULAR_KEY
SPOONACULAR_BASE_URL=https://api.spoonacular.com

OFF_USER=off
OFF_PASS=off
OPENFOODFACTS_BASE_URL=https://world.openfoodfacts.net

EDAMAM_APP_ID=
EDAMAM_APP_KEY=
EDAMAM_BASE_URL=https://api.edamam.com/api

FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json
FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID

CORS_ORIGINS=*
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe